main{
    display: grid;
    grid-template-columns: 1fr;

}
img {
    width: 100%;
    background: #000;
    animation: fade 15s;

}
@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}