/*index*/
:root {
    background-color: #1c3144;
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
Header h1{
    color: white;
    float: right;
    font-family: 'Playball';
    font-style: italic;
    font-size: 4rem;
    text-align: center;
    align-self: center;
    padding-right: 2rem;
    grid-column: 2/4;
}

a {
    text-decoration: none;
    color: #F6F5AE;
    font-family: 'Roboto Condensed';
}
body{
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #625834;
    border-radius: .35rem;
    width: 100%;
}
nav a.active{
    background-color: #1c3144;
}

/* dark mode */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    align-self: center;
    justify-self: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a1a19e;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #F6F5AE;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1c3144;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1c3144;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    color: #F6F5AE;
    font-family: 'Roboto Condensed';
    padding: 15px;
    font-size: 25px;
    text-align: center;
}

nav a:hover {
    background-color: #70653d;
    border-radius: .35rem;
}

main {
    color: #1c3144;
    font-family: 'Roboto Condensed';
    text-align: center;
    margin: 0 auto;
    display: grid;
    background-color: #F6F5AE;
}
main .dark-mode{
    background-color: #484d61;
    color: white;
}

.hero{
    position: relative;
    text-align: center;
}
#join h1{
    color: white;
    padding: 40px;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px black;
}
#join{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -15%);
}
#join a{
    color: #F6F5AE;
    background-color: #625834;
    font-size: 1.6rem;
    padding: 1.2rem;
    border-radius: .5rem;
}
#join a:hover {
    background-color: #1c3144;
}


.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 3rem;
    grid-gap: 4rem;
    padding: 2rem;
}

#events{
    grid-column: 1/2;
    background-color: #484d61;
    color: white;
    border-radius: 1rem;

}
#events h2{
    text-shadow: 2px 2px #1c3144;
}
#card{
    grid-column: 2/3;
    background-color: #484d61;
    color: white;
    border-radius: 1rem;


}
#card h2{
    text-shadow: 2px 2px #1c3144;

}
#spot{
    grid-column: 3/4;
    background-color: #484d61;
    color: white;
    border-radius: 1rem;

}
#spot h2{
    text-shadow: 2px 2px #1c3144;

}
#spot li{
    color: white;
    border-radius: .5rem;
    font-size: 1.3rem;
    align-self: center;
    padding: .5rem;
}



/*discover page*/
.discover {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    justify-content: left;
    text-align: center;
    padding: 20px;
    background-color: #F6F5AE;
}


.bar {
    margin: .5rem;
    background-color: #484d61;
    border-radius: 1rem;
    grid-column: 1/2;
    grid-row: 1/5;
}
.bar h2{
    color: white;
    text-shadow: 2px 2px #1c3144;

}
.bar p{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}
.bar div{
    padding: 10px;
    padding-top: 100px;
}
#barJoin a{
    color: #F6F5AE;
    background-color: #625834;
    padding: .8rem;
    border-radius: .5rem;
}
#barJoin{
    padding-bottom: 4rem;
}
#first {
    grid-column: 1/2;
    grid-row: 1/2;
}

#sec {
    grid-column: 1/2;
    grid-row: 2/3;
}

#third {
    grid-column: 1/2;
    grid-row: 4/5;
}

#input {
    padding: .5rem;
}

.discover img {
    height: auto;
    width: 100%;
}
.discover img:hover{
    transition: .5s ease;
    background-color: #1c3144;
    opacity: 1;
}

#welcome {
    grid-column: 2/4;
}

#mayor {
    grid-column: 2/3;
}

#state {
    grid-column: 3/4;
}

#opp {
    grid-column: 3/4;
}

#library {
    grid-column: 3/4;
}

#temple {
    grid-column: 2/3;
}

#canyon {
    grid-column: 2/3;
}
/*.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}*/

main li {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    color: #1c3144;
}

.hero img {
    width: 100%;
    height: auto;
}




ul {
    color: #F6F5AE;
    font-family: 'Roboto Condensed';
    align-content: center;
}

footer {
    color: #F6F5AE;
    font-family: 'Roboto Condensed';
    text-align: center;
    background-color: #625834;
    padding: 10px;
    font-size: 1.15rem;
    border-radius: .35rem;
}

footer p {
    padding-bottom: .5rem;
}
#thank{
    padding: 10rem;
    color: #1c3144;
}
#thank a{
    background-color: #F6F5AE;
}
form{
    width: 60%;
    margin-left: 30%;
    display: grid;
    background-color: #F6F5AE;
    padding-top: 2rem;
    text-align: left;
}

form label{
    color: black;
}
.join{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.member{
    padding: 2rem;
    width: 60%;
    justify-self: center;
}
.member ul{
    background-color: #a1a19e;
    border-radius: 1rem;
}
.member li{
    color: white;
}
form label.contact{
    padding-left: .5rem;
}
form label.contact input{
    display: block;
    padding: .25rem;
}
form label.ms{
    display: block;
    text-align:left;
    font-size: 1.2rem;
    padding-top: 0.15rem;
}
form button.submitBtn{
    width: 40%;
    justify-self: center;
    max-width: 20rem;
    padding: 0.25rem;
    background-color: #484d61;
    color: white;
}
form .timestamp{
    text-align: center;
}


.menu button{
    width: 20%;
    font-size: 17px;
    padding: 4px;
    background-color: #a1a19e;
    margin: 10px;
}
.menu{
    padding: 30px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}
.grid a{
    color: #1c3144;
}
.grid a:hover{
    color: #70653d;
    background-color: #F6F5AE;
}
.grid section:nth-child(7){
    grid-column: 2/3;
}
.grid section{
}
.list{
    display: flex;
}

.banner{
    background-color: #F6F5AE;

}
.banner-content{
    color: #1c3144;
    font-family: 'Roboto Condensed';
    text-align: center;
    padding: 10px;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 15px;
}
.banner-close{
    padding: 2px;
    margin-left: 35px;
    width: 3rem;
    height: 2rem;
}
