:root {
    background-color: #b8d4e3;
}

.banner-content{
    color: black;
    font-family: Mooli;
    font-size: 15px;
    text-align: center;
}
header {
    background-color: #9bc53d;
    color: beige;
    padding: 1.5rem;
    margin: 0;
    font-family: Mooli;
    font-size: 25px;
}

header img:nth-child(2) {
    vertical-align: middle;
    width: 80px;
}

header img:nth-child(1) {
    vertical-align: middle;
    width: 50px;
}
nav{

}
nav a:hover{
    background-color: #91aa38;
    padding: 10px;
    border-radius: 1rem;
}
nav a{
    text-decoration: none;
    color: beige;
    font-family: Mooli;
    padding: 10px;
    text-align: center;
    font-size: 23px;
}
nav a.active{
    background-color: #91aa38;
    border-radius: 1rem;
}
main {
    font-family: roboto condensed;
    grid-gap: 10px;
}

.hero {
    grid-column: 1/5;
}

.hero a {
    text-decoration: none;
    color: #eeeeff;
    background-color: #046e8f;
    padding: 12px;
    border-radius: 2rem;
    font-family: Mooli;
}
ul h2{
    text-align: center;
    font-size: 32px;
    color: #046e8f;
    padding-bottom: 10px;
}
ul {
    color: white;
    background-color: #9bc53d;
    border-radius: 2rem;
    padding: 3rem;
    padding-left: 5rem;
    padding-top: .5rem;
    grid-column: 4/5;
    font-size: 20px;
}

li {
    padding: 10px;
}
label{
    padding: 20px;
    float: left;
    padding-left: 0px;
}

footer {
    background-color: #046e8f;
    color: #eeeeff;
    padding: 2rem;
    text-align: center;
    position: absolute;
    width: 100%;
    font-family: roboto condensed;
    vertical-align: middle;
    left: 0;
    right: 0;
}
#socials{
    padding-top: 5px;
    vertical-align: middle;
}
#agree{
    margin: 3rem;
}
/*form*/
form fieldset{
    display: grid;
    grid-template-columns: 1fr;
    margin: 5rem;
    border: 1px solid #046e8f;
    border-radius: 1.5rem;
}
form legend{
    color: #046e8f;
    font-size: 20px;
}
form label{
    display: block;
    padding: 1rem;

}
form label input{
    display: block;
    padding: .65rem;
    border-radius: .25rem;
    width: 100%;
    max-width: 20rem;
}
form input.submitButton{
    border-radius: .5rem;
    background-color: #91aa38;
    font-size: 20px;
    font-family: Roboto Condensed;
    color: white;
    padding: 10px;
    width: 70%;
    max-width: 20rem;
    margin: 0 0 5rem 40%;
    justify-self: center;
}

form input.submitButton:hover{
    background-color: #046e8f;
}
form p{
    font-size: 14px;
    color: darkred;
}

#thanks{
    text-align: center;
    font-family: Mooli;
    padding: 40px;
    margin: 8rem;
}