
header {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav {
    background-color: blueviolet;
    padding: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

nav a {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 20px;
}

#me {
    width: 150px;
    justify-self: center;
    padding: 20px;
}

header h1 {
    color: blanchedalmond;
    text-align: center;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}

main {
    padding: 20px;
    width: 90%;
    margin: auto;
}

h2{
    text-align: center;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
section {
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    display: grid;

}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

main h3 {
    text-align: center;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
    padding: 20px;
}

main p,
ul {
    font-family: 'Courier New', Courier, monospace;
}
main li{
    padding: 8px;
}
footer {
    background-color: blueviolet;
    display: grid;
    padding: 20px;
}

#current {
    color: blanchedalmond;
    justify-self: center;
    font-family: 'Courier New', Courier, monospace;
}

footer p {
    color: blanchedalmond;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}