header{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#me{
    width: 150px;
    justify-self: center;
    padding: 20px;
}
header h1{
    color: blanchedalmond;
    text-align: center;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}
main {
    padding: 20px;
}
main h2{
    text-align: center;
    color:blueviolet;
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
    padding: 20px;
}
main p{
    font-family: 'Courier New', Courier, monospace;
}
footer{
    background-color: blueviolet;
}
footer p{
    color: blanchedalmond;
    text-align: center;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;

}